<section class="form-container">
  <div class="create-card">
    <h1 class="form-title">Create new User</h1>

    <form (ngSubmit)="submitCreateUser()" class="user-form" #createForm="ngForm">

      <div class="user-info">
        <div class="info-row">
          <div class="info-label">Firstname:</div>
          <div class="info-value">
            <input
              id="firstname" type="text"
              class="input-field"
              placeholder="Enter Firstname"
              name="firstname"
              [(ngModel)]="firstname"
              required
              #firstnameInput="ngModel"
            />
            <div class="error-container">
              <div *ngIf="firstnameInput.invalid && firstnameInput.touched" class="error">
                  Firstname is required.
                </div>
            </div>
          </div>
        </div>

        <div class="info-row">
          <div class="info-label">Lastname:</div>
          <div class="info-value">
            <input
              id="lastname" type="text"
              class="input-field"
              placeholder="Enter Lastname"
              name="lastname"
              [(ngModel)]="lastname"
              required
              #lastnameInput="ngModel"
            />
            <div class="error-container">
              <div *ngIf="lastnameInput.invalid && lastnameInput.touched" class="error">
                Lastname is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn back-btn" routerLink="/users">Back</button>
          <button type="submit" class="btn create-btn" [disabled]="createForm.invalid" >Create</button>
        </div>
      </div>
    </form>
  </div>
</section>

