<div class="rank-list-container">
  <div class="ranking-heading">
    <h2>Rank List {{selectedGame.name}}</h2>
  </div>
  <div class="selection-container">
    <div class="game-selection">
      <select class="selectionsBox" id="game" [(ngModel)]="selectedGame" (ngModelChange)="filterScores()">
        <option value="" disabled selected>Spiel auswählen</option>
        <option *ngFor="let game of games" [ngValue]="game">{{game.name}}</option>
      </select>
    </div>

    <div class="score-count-selection">
      <select class="selectionsBox" id="scoreCount" [(ngModel)]="selectedScoreCount" (ngModelChange)="filterScores()">
        <option value="" disabled selected>Top Score</option>
        <option *ngFor="let count of scoreCounts" [value]="count">{{count}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="scores.length === 0" class="no-scores-message">
    <p>No scores available.</p>
  </div>

  <div *ngIf="scores.length > 0" class="ranking-list">

    <div *ngFor="let score of scores; let i = index" class="ranking-item">
      <div class="rank">
        <strong>{{i + 1}}</strong>
      </div>

      <div class="user-details">
        <p>{{score.user.firstname}} {{score.user.lastname}}</p>
      </div>
      <div class="user-details">
        {{score.score}}
      </div>
      <div class="user-details">
        <div class="default-score" [ngClass]="{'never-played': score.defaultScore, 'played': !score.defaultScore}">
          {{ score.defaultScore ? 'default score': '' }}
        </div>
      </div>
    </div>
  </div>
</div>
