header {
  font-family: Arial, sans-serif;
  position: fixed;
  background-color: #f0f2f5;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
header li a:hover {
  color: orange;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  font-size: 35px;
  flex-shrink: 0;
  position: absolute;
}
.logo-first-half {
  color:  rgb(240,210,0);
}

.logo-second-half {
  font-family: "Gill Sans" , sans-serif;
}
