dialog {
  top: 25%;
  border-radius: 10px;
  border-width: 4px;
  border-color: black;
}

button {
  margin: 10px 10px 0 0;
}

.dialog-body {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding: 7px;
}


button[type="submit"] {
  display: inline-block;
  background-color: rgb(240,210,0); /* Primary color */
  color: #fff; /* Text color */
  padding: 12px 20px; /* Button padding */
  font-size: 16px; /* Font size */
  font-family: Arial, sans-serif;
  font-weight: bold; /* Bold text */
  text-align: center;
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-right: 10px;
}

button[type="button"] {
  display: inline-block;
  background-color: #f8f9fa; /* Light gray background */
  color: #333; /* Darker text color */
  padding: 12px 20px; /* Button padding */
  font-size: 16px; /* Font size */
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold; /* Bold text */
  border: none; /* Border with a light gray color */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transitions */
}

button[type="submit"]:disabled {
  background-color: #ccc; /* Gray background */
  color: #666; /* Dimmed text color */
  cursor: not-allowed; /* Not-allowed cursor */
  box-shadow: none; /* No shadow */
}

.dialog-button-container {
  justify-self: center;
}

@media (max-width: 768px) {
  .dialog-container {
    width: 70%;
    max-width: 400px;
  }
}

@media (max-height: 700px) {
  .dialog-body {
    padding-bottom: 0px;
  }
}
