<div class="match-history-container">
    <div class="match-history-list-heading">
      <h2>Match History</h2>
    </div>
    <div class="match-history-list">
      <div *ngFor="let match of matches;" class="match-history-list-item">
        <div class="user-details">
          <p class="match-game"> {{match.game.name}}:
            <span><span class="match-history-list-item-user" *ngFor="let user of match.users; let i = index">{{ i + 1 }}. {{ user.firstname }} </span></span>
          </p>
        </div>
      </div>
    </div>
</div>
