<div class="match-history-container">
    <div class="match-history-list-heading">
      <h2>Match History</h2>
    </div>
    <div *ngIf="matches.length > 0" class="match-history-list">
      <div *ngFor="let match of matches;" class="match-history-list-item">
        <div class="user-details">
          <p class="match-game"> {{match.game.name}}:
            <span><span class="match-history-list-item-user" *ngFor="let user of match.users; let i = index">{{ i + 1 }}. {{ user.firstname }} </span></span>
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="matches.length === 0" class="no-matches-message">
      <p>No matches available.</p>
    </div>
  <div class="create-btn-container">
    <button class="btn create-btn" routerLink="/matches/new">Create Match</button>
  </div>
</div>
