<div class="match-create-container">
  <div class="creat-match-heading">
    <p>Create a Match</p>
  </div>
  <div class="create-match-form">
  <div class="select-container">
    <div class="select-game-container">
      <div class="select-heading">
        <p>Select Game</p>
      </div>
      <div *ngIf="gameList.length > 0" class="app-game-list">
        <app-game-list class="game-list" [selectedGame]="selectedGame" [gameList]="gameList"
                       (onCardClick)="onGameSelect($event)">
        </app-game-list>
      </div>
      <div *ngIf="gameList.length === 0" class="empty-list-message">
        <p>No games available.</p>
      </div>
    </div>
    <div class="select-user-container">
      <div class="select-heading">
        <p>Select users</p>
      </div>
      <div *ngIf="userList.length > 0" class="match-user-list-container">
        <div class="match-user-list" *ngFor="let user of userList"
             (click)="selectedUsers.includes(user) ? onUserDeselect(user) : onUserSelect(user)"
             [class.selected]="selectedUsers.includes(user)">
          <span class="ranking-number" *ngIf="selectedUsers.includes(user)">
            {{ selectedUsers.indexOf(user) + 1 }}
          </span>
          <span>
            {{ user.firstname }} {{ user.lastname }}
          </span>
        </div>
      </div>
      <div *ngIf="userList.length === 0" class="empty-list-message">
        <p>No users available.</p>
      </div>
    </div>
  </div>

  <button class="btn create-btn" type="submit" (click)="ifValidOpenDialog()">Create Match</button>
  </div>
  <div *ngIf="openDialog" class="dialog-background">
    <app-dialog *ngIf="openDialog" [openDialog]="openDialog"
                (onConfirmation)="$event ? createMatch() : closeDialog()"
                class="match-app-dialog">
      <div class="dialog-heading">
        Confirm Match for {{ selectedGame?.name }}
      </div>
      <div class="dialog-user-container">
        <div *ngFor="let user of selectedUsers; let userRanking = index">
          <span>{{ userRanking + 1 }}. {{ user.firstname }} {{ user.lastname }}</span><br>
        </div>
      </div>
    </app-dialog>
  </div>

  <div class="alert" *ngIf="throwErrorAlert" (click)="this.throwErrorAlert = false">
    <div class="alert-heading">WARNING!</div>
    <div  class="alert-message">Select at least one game and two users!</div>
  </div>
</div>
