.main{
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex: 1;
  height: 100%;
  width: 100%;
}

.content {
  padding-top: 2vh;
  width: 100%;
  justify-content: center;
  justify-self: center;
}


