@if (matches.length > 0 || selectedUser) {
<div class="select-group">
    <label class="select-label" for="lastmatches">Amount of past matches: </label>
    <select class="amount-matches" name="lastmatches" id="lastmatches" [(ngModel)]="selectedValue"
            (ngModelChange)="selectValue(selectedValue)">
      @for (number of valueOptions; track number) {
        <option (select)="selectValue(number)" value="{{number}}">{{ number }}</option>
      }
    </select>
    <label class="select-label" for="users">User: </label>
    <select name="users" id="users" [(ngModel)]="selectedUser" (change)="selectUser(selectedUser!)">
      <option (select)="selectUser(undefined)" [ngValue]="undefined">all</option>
      @for (user of users; track user) {
        <option (select)="selectUser(user)" [ngValue]="user">{{ user?.firstname }} {{ user?.lastname }}</option>
      }
    </select>
  </div>
}
@if (matches.length > 0) {

  <section class="grid">

    <div class="grid-column-header grid-row">
      <div> No.</div>
      <div> No. of Players</div>
      <div> Winner</div>
      <div> Players</div>
    </div>
    @for (match of matches; track match.token; let idx = $index) {
      <div class="grid-row">
        <div class="grid-item">{{ idx + 1 }}</div>
        <div class="grid-item">{{ match.users.length }}</div>
        <div class="grid-item">{{ match.users[0].firstname + ' ' + match.users[0].lastname }}</div>
        <div class="grid-item">
          @for (user of match.users; track user.token; let idx = $index) {
            <span>{{ user.firstname + ' ' + user.lastname }}</span>
          }
        </div>
      </div>

    }
    <div class="grid-row"></div>
  </section>
} @else if (selectedUser) {
  <div class="no-matches">
    <span>User {{selectedUser!.firstname + " " + selectedUser!.lastname}} has not played this game</span>
  </div>
}

@else {
  <div class="no-matches">
    <span>This game has no played matches</span>
  </div>
}

@if (throwAlert) {
  <div class="alert" (click)="this.throwAlert = false">
    {{ errorMessage }}
  </div>
}
