.create-btn{
  padding: 12px 20px;
  font-size: 1rem;

  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  width: 90px;
}

.create-btn {
  background-color: rgb(240, 210, 0);
  color: #fff;
}

.create-btn:hover {
  background-color: rgb(240, 210, 0);
}

.userList {
  flex: 1;
  height: 90%;
  width: 100%;
  max-width: 100%;
}

.list-container {
  margin-top: 20px;
  overflow-y: scroll;
  height: 90%;
  max-width: 100%;
  width: 100%;
}
