.user-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-id {
  font-weight: bold;
  color: #007bff;
  font-size: 18px;
}

.user-status {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  background-color: #28a745;
  transition: background-color 0.3s ease;
}

.user-status.deactivated {
  background-color: #dc3545;
}

.user-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name-status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-status p {
  margin: 0;
  font-size: 26px;
}

.status-label {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: capitalize;
  color: white;
  background-color: #28a745;
  transition: background-color 0.3s ease;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
}

.status-label.deactivated {
  background-color: #dc3545;


}


.user-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
}
