/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  justify-content: center;
}
@media (max-width:  3440px) {
  html, body {
    width: 30vw;
    justify-self: center;
  }
}

@media (max-width: 2560px) {
  html, body {
    width: 60vw;
    justify-self: center;
  }
}
@media (max-width: 1024px) {
  html, body {
    width: 80vw;
    justify-self: center;
  }
}




@media (max-height: 1440px) {
  html, body {
    height: 85vh;
    justify-self: center;
  }
}

@media (max-height: 744px) {
  html, body {
    height: 95vh;
    justify-self: center;
  }
}
