/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  justify-content: center;
}


@media (max-width:  3440px) {
  html, body {
    width: 30vw;
    justify-self: center;
  }
}

@media (max-width: 2560px) {
  html, body {
    width: 60vw;
    justify-self: center;
  }
}

@media (max-width: 1024px) {
  html, body {
    width: 90vw;
    justify-self: center;
  }
}
