/* Main container for the game section */
.game-section {
  display: flex;
  justify-content: space-between; /* Space between left (info) and right (actions) */
  align-items: flex-start; /* Align items to the top */
  width: auto; /* Full width */
  min-height: auto; /* Increased height */
  padding: 40px 40px 0 40px; /* Add generous padding */
  font-family: 'Arial', sans-serif;
  margin: 20px 0; /* Add spacing above and below the container */
  border-bottom: gray;
  border-width: 0 0 2px 0;
  border-style: solid;
}


/* Game info container */
.game-info {
  display: inline-flex;
  flex-direction: column; /* Stack title and rules vertically */
  align-items: flex-start; /* Align text to the left */
  width: auto; /* Adjust to fit buttons */
}

.game-name {
  padding: 0;
  margin: 0;
}

/* Game name style */
.game-name h1 {
  font-size: 48px; /* Larger font size */
  margin: 0 0 20px;
}

/* Game rules style */
.game-rules {
  font-size: 24px; /* Larger font size */
  line-height: 1.8; /* Better line spacing */
  margin: 0;
}

/* Game actions container */
.game-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  padding-left: 100px;
}

/* Button style */
.game-actions button {
  color: red;
  padding: 15px 15px; /* Increased button size */
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  transition: background-color 0.3s, transform 0.2s;
}

.game-actions button:hover {
  transform: scale(1.30);
}

.game-actions .edit-button {
  color: green;
}
/* Icon style inside the button */
.game-actions button svg {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  fill: currentColor; /* Inherits button's text color */
}

button[type="button"] {
  display: inline-block;
  background-color: #f8f9fa; /* Light gray background */
  color: #333; /* Darker text color */
  padding: 12px 20px; /* Button padding */
  font-size: 16px; /* Font size */
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold; /* Bold text */
  border: 2px solid #ccc; /* Border with a light gray color */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transitions */
  margin-top: 20px;
}

.warning-dialog span {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
}

.warning-dialog input {
  font-size: 100%;
  margin-top: 20px;
  height: 35px;
  width: 100%;
  border-radius: 8px;
  border-style: solid;
  border-color: red;
}

* {
  transition: none;
}

.warning-dialog .disarmed {
  border-color: green;
}

.warning-dialog .disarmed input:focus {
  outline: none;
  border-color: green;
}

.tabs {
  background-color: #f8f9fa;
  display: flex;
  justify-content: flex-start;
  width: max-content;
  border-color: gray;
  border-width: 0 0 0 0;
  border-style: solid;
  border-radius: 20%;
}

.tablink {
  background-color: #f8f9fa;
  padding: 12px 20px;
  margin: 0 0 0 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  border-style: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.tablink:hover {
  background-color: #e9ecef;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-radius: 10px 10px 0 0;
  border-color: grey;
}

.tablink.active {
  background-color: #e9ecef;
  border-width: 4px 2px 0 2px;
  border-style: solid;
  border-radius: 10px 10px 0 0;
  border-color: rgb(240,210,0);
}



