.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-self: center;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 5px;
  height: 90%;
  max-height: 90%;
  overflow: scroll;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}@media (max-width: 1080px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
